In [1]:
### Assignment 1

import math
### Question 1

# The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sort the list and find the min and max age
# sorting list of ages
sorted_ages = sorted(ages)
print("sorted ages list :", sorted_ages)
# finding min age from sorted ages list
min_age = min(sorted_ages)
print("min age : ", min_age)
# finding max age from sorted ages list
max_age = max(sorted_ages)
print("max age : ", max_age)

# Add the min age and the max age again to the list
sorted_ages.extend((min_age, max_age))
print("sorted ages after adding min and max age : ", sorted_ages)

# calculating Median of Ages
sorted_ages = sorted(sorted_ages)
len_ages = len(sorted_ages)

if len_ages % 2 == 0:
    # median calculation for list with even items
    median_age = (sorted_ages[int(len_ages/2)-1] + sorted_ages[int(len_ages/2)]) / 2
else:
    # median calculation for list with odd items
    median_age = sorted_ages[math.ceil(len_ages/2)]
print("Median Age : ", median_age)
# calculating Average of Ages
avg_age = sum(sorted_ages)/len(sorted_ages)
print("Average Age : ", avg_age)
# calculating Range of Ages
range_age = max_age - min_age
print("Range of Age : ", range_age)

sorted ages list : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min age :  19
max age :  26
sorted ages after adding min and max age :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median Age :  24.0
Average Age :  22.75
Range of Age :  7

In [2]:
### Question 2
# Create an empty dictionary called dog
dog = dict()
# Adding data to dog dictionary
dog['name'] = 'puppy'
dog['color'] = 'brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5
print("dog dictionary : ", dog)
# creating student dictionary with data
student = {
    "first_name": "Aaqib Ahmed",
    "last_name": "Shaik",
    "gender": "male",
    "age": 25,
    "marital status": "single",
    "skills": ["python", "machine learning","Java"],
    "country": "United States",
    "city": "lees summit",
    "address": "Innovation Campus"
}
print("student dictionary : ", student)
# length of the student dictionary
len_student = len(student)
# skills of the student from the dictionary
skills = student['skills']
# type of skills
print("type of skills :",type(skills))
# updating student skills
student['skills'].extend(["MySql"])
print("updated student skills : ", student["skills"])
# keys of student dictionary
print("keys of student dictionary : ", list(student.keys()))
# values of student dictionary
print("values of student dictionary : ", list(student.values()))

dog dictionary :  {'name': 'puppy', 'color': 'brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}
student dictionary :  {'first_name': 'Aaqib Ahmed', 'last_name': 'Shaik', 'gender': 'male', 'age': 25, 'marital status': 'single', 'skills': ['python', 'machine learning', 'Java'], 'country': 'United States', 'city': 'lees summit', 'address': 'Innovation Campus'}
type of skills : <class 'list'>
updated student skills :  ['python', 'machine learning', 'Java', 'MySql']
keys of student dictionary :  ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']
values of student dictionary :  ['Aaqib Ahmed', 'Shaik', 'male', 25, 'single', ['python', 'machine learning', 'Java', 'MySql'], 'United States', 'lees summit', 'Innovation Campus']

In [3]:
## Question 3
#A tuple named brothers is declared
brothers = ("Rahil","Sohail")
print("Brothers: ",brothers)

#A tuple named sister is declared

sisters = ("Ramya", "Geetha")

print("Sisters : ",sisters)

#joining the brothers tuple and sisters tuple to the tuple named siblings

siblings = brothers + sisters

#Printing the tuple - Siblings
print ("Siblings: ", siblings)

#Total number of siblings
print("Total Siblings : ", len(siblings))

#Modifying the tuple value by adding mother and father name

H = list(siblings)
Father = "Rafi"
Mother = "Aneesa"
H.append(Father)
H.append(Mother)

# Assigning to family members

family_members = tuple(H)

print("Family Members : ",family_members)

Brothers:  ('Rahil', 'Sohail')
Sisters :  ('Ramya', 'Geetha')
Siblings:  ('Rahil', 'Sohail', 'Ramya', 'Geetha')
Total Siblings :  4
Family Members :  ('Rahil', 'Sohail', 'Ramya', 'Geetha', 'Rafi', 'Aneesa')

In [4]:
### Question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# length of it_companies set
print("length of it_companies set : ", len(it_companies))
# adding company to it_company
it_companies.add("Twitter")
# inserting multiple it_companies to the set it_company
it_companies.update(['TCS', 'Infosys'])
# removing company from it_company
it_companies.discard("Oracle")
print("it companies : ", it_companies)
print(""" remove vs discard : 
remove deletes the element from the list if not present it returns Key error, 
discard deleted the element from the list otherwise return None""")
# joining A and B sets
print("Join of A and B : ", A.union(B))
# intersection of A and B sets
print("Intersection of A and B : ",A.intersection(B))
# checking if A is subset of B
print("Is A subset of B : ", A.issubset(B))
# check if A is disjoint of B
print("Is A disjoint of B : ", A.isdisjoint(B))
# A union B and B union A
print("A union B : ", A.union(B))
print("B union A : ", B.union(A))
# symmetric difference between two sets
print("set A difference with set B : ",A.symmetric_difference(B))
# deleting sets A and B
A.clear()
B.clear()
# converting age list to set
set_ages = set(age)
# comparing length of list and length of set
print("Is length of age list same of length of age set : ", len(age) == len(set_ages))

length of it_companies set :  7
it companies :  {'Microsoft', 'TCS', 'Apple', 'IBM', 'Google', 'Infosys', 'Facebook', 'Amazon', 'Twitter'}
 remove vs discard :
remove deletes the element from the list if not present it returns Key error,
discard deleted the element from the list otherwise return None
Join of A and B :  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B :  {19, 20, 22, 24, 25, 26}
Is A subset of B :  True
Is A disjoint of B :  False
A union B :  {19, 20, 22, 24, 25, 26, 27, 28}
B union A :  {19, 20, 22, 24, 25, 26, 27, 28}
set A difference with set B :  {27, 28}
Is length of age list same of length of age set :  False

In [5]:
### Question 5
# The radius of a circle is 30 meters.
# radius r
r = 30
# pi value constant
pi = 3.14
# calculating area of circle
_area_of_circle_ =  pi * r * r
print("Area of circle :", _area_of_circle_)
# calculating cirumference of circle
_circum_of_circle_ = 2 * pi * r
print("Circumference of circle :", _circum_of_circle_)

# input from user
r = float(input("Enter radius of circle : "))
# calculating area of circle from user inputs
area_of_circle = pi * r * r
print("Area of circle : ", area_of_circle)

Area of circle : 2826.0
Circumference of circle : 188.4
Enter radius of circle : 5
Area of circle :  78.5

In [6]:
## Question 6

#Declaring the string

str = "I am a teacher and I love to inspire and teach people"

print("The Given string is : ", str)

# Stored the string str in a set using the split() function.

Set = set(str.split(" "))

#finding the number of unique words.

print("Number of unique words:", len(Set))
 
#Printing the unique words of a string by printing the set.

print("Unique words : ", Set)

The Given string is :  I am a teacher and I love to inspire and teach people
Number of unique words: 10
Unique words :  {'teacher', 'inspire', 'to', 'people', 'a', 'teach', 'am', 'I', 'and', 'love'}

In [7]:
### Question 7

#Printing According to the pattern
print("Name \t\t Age \t Country \t City")
print("Asabeneh \t 250 \t Finland \t Helsinki")

Name 		 Age 	 Country 	 City
Asabeneh 	 250 	 Finland 	 Helsinki

In [8]:
### Question 8
#Using String formatting method

radius = 10
area = 3.14 * radius ** 2
print("The Area of Circle with radius {} is {} meters square.".format(radius,area))

The Area of Circle with radius 10 is 314.0 meters square.

In [9]:
### Question 9

#An empty list named l which reads the weights of N students is declared

l = []

#Taking input from User
  
n = int(input("Enter number of weights : "))
  
# Appending the values to list l
for i in range(0, n):
    ele = int(input())
    l.append(ele) # adding the element
      
print("The weights of N students:", l)

#A list named Kg is declared which contains the values converted from lbs to Kilograms

kg=[]

for i in range(0, n):
    ele =0.45359237 * i
    kg.append(ele)

print("The weights of N students converted to Kilograms from lbs:", kg)

Enter number of weights : 4
14
15
16
17
The weights of N students: [14, 15, 16, 17]
The weights of N students converted to Kilograms from lbs: [0.0, 0.45359237, 0.90718474, 1.3607771100000001]